/* Global ================= */
/* TODO: renomear o nome das variaveis css para ficarem mais explicativas */
:root{
   --primary-txt-color: #363f5f;
   --light-blue: #6284ff;
   --dark-purple: rgb(95, 46, 141); 
   --green: #50cc23;
   --light-purple: blueviolet;
   --red: #e92929;
   --light-bg: #eeebeb;
   --light-bg-card:white;
   --light-border-card: rgb(156, 155, 155);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html{
   font-size: 93.75%; /* é o mesmo que 15px */
}
body {
   background-color: var(--light-bg);
}

/* A classe abaixo é uma CSS Trick para deixar o elemento oculto aos usuários, 
mas visível para os mecanismos de leitura de tela*/
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0,0,0,0);
   white-space: nowrap;
   border-width: 0;
}

.container {
   width: min(90vw, 800px);
   margin: auto;
}

/* Titles ================= */
h2 {
   margin-top: 3.2rem;
   margin-bottom: 0.8rem;
   color: #363f5f;

   font-weight: normal;
}

/* Links and Buttons ================= */
a {
   color: var(--light-purple);
   text-decoration: none;
}

a:hover{
   transition: .3s;

   color: var(--green);
}

button {
   width: 100%;
   height: 50px;

   border: none;

   color: white;
   background: var(--light-purple);

   padding: 0;

   border-radius: .25rem;

   cursor: pointer;

}

button:hover {
   transition: .3s;
   background: var(--orange);
}

.button.cancel {
   color: var(--red);
   border: 2px var(--red) solid;
   border-radius: .25rem;

   height: 50px;

   display: flex;
   align-items: center;
   justify-content: center;
   
   opacity: .6;
}

.button.cancel:hover{
   opacity: 1;
}

/*procura pelo elemento que tenha as duas classes abaixo*/
.button.new {
   display: inline-block;
   margin-bottom: .8rem;
}


/* Header ================= */
header {
   background-color: var(--dark-purple);
   padding: 2.5rem 0 8rem;
   text-align: center;
}

#logo {
   color: white;
   font-weight: 100;
}

/* Balance ================= */
#balance{
   margin-top: -5rem;
}

#balance h2{
   color: white;
   margin-top: 0;
}


/* Cards ================= */
.card{
   background-color: var(--light-bg-card);
   padding: 1.5rem 2rem;

   border-radius: .8rem;
   border-bottom: .6rem solid var(--light-border-card);

   margin-bottom: 2rem;

   color: var(--primary-txt-color);
}

.card h3{
   font-weight: normal;
   font-size: 1rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card p{
   font-size: 2rem;
   line-height: 3rem;

   margin-top: 1rem;
}

.card.total{
   background-color: #49dd20;
   color: white;
   border-bottom: solid .6rem rgb(45, 136, 36);
}


/* Table ================= */
#transactions{
   display: block;
   width: 100%;
   overflow-x: auto;
}

#data-table{
   width: 100%;
   border-spacing: 0 0.5rem;
   color: #969cb3;
}

td img{
   cursor: pointer;
}

table th{
   background-color: white;

   font-weight: normal;
   padding: 1rem 2rem;

   text-align: left;
}

table thead tr th:first-child,
table tbody tr td:first-child {
   border-radius: .25rem 0 0 .25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
   border-radius: 0 .25rem .25rem 0;
}

table tbody tr {
   opacity: .7;
}

table tbody tr:hover{
   opacity: 1;
}

table tbody td{
   background-color:white;

   padding: 1rem 2rem;
}

td.description {
   color: var(--primary-text-color);
}

td.income{
   color: #12a454;
}

td.expense {
   color: var(--red);
}

/* Modal ================= */
.modal-overlay {
   width: 100%;
   height: 100%;

   background-color: rgba(0,0,0,.6);

   position: fixed; 
   z-index: 999;
   top: 0;

   display: flex;
   align-items: center;
   justify-content: center;

   opacity: 0;
   visibility: hidden;
}

.modal-overlay.active {
   transition: .2s;
   opacity: 1;
   visibility: visible;
}

.modal {
   background: var(--light-bg);
   padding: 2.4rem;

   position: relative;
   z-index: 1;

   max-width: 500px;
   width: 90%;

   border-radius: .4rem;
}

.modal h2 {
   color: var(--primary-text-color);
}

/* Form ================= */
#form {
   max-width: 500px;
}

#form h2 {
   margin-top: 0;
}

#form input{
   border: none;
   border-radius: 0.2rem;

   padding: .8rem;

   width: 100%;
}

.input-group {
   margin-top: .8rem;
}

.input-group small{
   opacity: .5;
}

.input-group.actions {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.input-group.actions button,
.input-group.actions .button.cancel{
   width: 48%;
}

/* Dark Mode ================= */
.dark-mode-btn{
   position: fixed;
   z-index: 9;

   bottom: 20px;
   right: 20px;

   width: 5rem;
   height: 2rem;

   background-color: var(--light-purple);

   border-radius: 1rem;

   display: flex;
   align-items: center;
   justify-content: initial;

   padding: .4rem;

   cursor: pointer;
}

.dark-mode-btn.active  {
   justify-content: flex-end;
   background-color: var(--light-purple);
}

.dark-mode-btn > span{
   position: relative;

   /* transition: 1s ease-in; */

   display: block;

   width: 2.25rem;
   height: 1.2rem;

   border-radius: .8rem;

   background-color: white;

   cursor: pointer;

}


/* Footer ================= */
footer {
   text-align: center;
   padding: 4rem 0 2rem;
   
   color: var(--primary-txt-color);

   opacity: .6;
}


/* Responsive ================= */
@media (min-width: 800px) {
   html {
      font-size: 87.5%; /* equivale a 14px */
   }

   #balance {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
   }
}
